---
import Meta from "src/components/Meta.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Meta />
    <title>{title}</title>
  </head>
  <body class="overflow-x-hidden">
    <slot />
    <style is:global></style>
  </body>
</html>
