---
const { className } = Astro.props;
---

<div
  class:list={[
    "footer max-w-screen h-fill lg:px-4 w-full flex items-end lg:items-end justify-end lg:translate-x-40 transition-all duration-1000",
    className,
  ]}
>
  <div
    class="flex justify-center lg:justify-end w-full gap-x-6 text-sm uppercase bg-secondary-foreground/5 text-secondary-foreground rounded-md lg:bg-inherit"
  >
    <a target="_blank" href="https://x.com/axis_fi"
      ><p class="footer-link">social</p></a
    >
    <a target="_blank" href="mailto:launch@axis.finance"
      ><p class="footer-link">contact</p></a
    >
  </div>
</div>
