// The current app deployment environment
VITE_ENVIRONMENT=testing

// Whether to use testnet or mainnet contracts
VITE_TESTNET=true

// Project's WalletConnect Id
VITE_WALLETCONNECT_PROJECT_ID=29c1aa1528d4ed7ffe54ee450b483393

// The Projects Access token
VITE_FLEEK_AT=client_ok1234
