@import "@repo/ui/style.css";

@layer base {
  a {
    @apply cursor-pointer;
  }

  :root {
    --foreground: var(--axis-dark);
    --background: var(--axis-light);

    --primary: var(--axis-green);
    --primary-foreground: var(--axis-dark);

    --secondary: var(--axis-red);
    --secondary-foreground: var(--axis-light-mid);

    --border: var(--axis-orange);
  }

  .dark {
    --foreground: var(--axis-dark);
    --background: var(--axis-dark);

    --primary: var(--axis-red);
    --secondary-foreground: var(--axis-dark-mid);
  }
}

@layer components {
  .grad-theme-switcher {
    background-image: linear-gradient(
      hsla(220, 88%, 71%, 1),
      hsla(201, 88%, 71%, 1),
      hsla(79, 88%, 71%, 1)
    );
  }

  .dark .grad-theme-switcher {
    background-image: linear-gradient(#cdf675, #f2fea5, #f4f5c1);
  }

  .bg-card {
    position: relative;
    z-index: 1;
    background-size: cover;

    background-image: linear-gradient(
        hsla(79, 88%, 71%, 0.94),
        hsla(68, 98%, 82%, 0.94),
        hsla(61, 72%, 86%, 0.94)
      ),
      url("/noise.svg");
  }

  .bg-card::before {
    position: absolute;
    content: "";
    inset: 0;
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;

    background-size: cover;
    background-image: linear-gradient(
        hsla(61, 72%, 86%, 0.94),
        hsla(68, 98%, 82%, 0.94),
        hsla(79, 88%, 71%, 0.94)
      ),
      url("/noise.svg");
  }

  .bg-card:hover::before {
    opacity: 1;
  }

  .dark .bg-card {
    background-repeat: repeat;
    background-image: linear-gradient(
        hsla(11, 100%, 63%, 0.94),
        hsla(32, 99%, 66%, 0.94),
        hsla(40, 100%, 77%, 0.94)
      ),
      url("/noise.svg");
  }

  .dark .bg-card::before {
    width: 100%;
    background-image: linear-gradient(
        hsla(40, 100%, 77%, 0.9),
        hsla(32, 99%, 66%, 0.9),
        hsla(11, 100%, 63%, 0.9)
      ),
      url("/noise.svg");
  }

  .tease-banner {
    @apply bg-axis-red;
  }

  .dark .tease-banner {
    @apply bg-axis-green;
  }

  .wordmark-glow:hover {
    filter: drop-shadow(2px 2px 8px rgba(212, 205, 214, 1));
  }

  .dark .wordmark-glow:hover {
    filter: drop-shadow(2px 2px 8px rgba(86, 73, 89, 1));
  }

  .axis-logo path,
  rect {
    @apply fill-secondary-foreground stroke-secondary-foreground;
  }
}
