@import "@repo/ui/style.css";

@layer base {
  body {
    @apply font-aeonfono bg-black;
  }

  input {
    @apply font-aeonpro;
  }

  a {
    @apply cursor-pointer;
  }

  a svg {
    @apply transition-all;
  }
}

@layer components {
  .bg-axis-orange-grad {
    background-image: linear-gradient(
      hsla(11, 100%, 63%, 0.74),
      hsla(32, 99%, 66%, 0.64),
      hsla(40, 100%, 77%, 0.74)
    );
  }

  .auction-progress {
    clip-path: xywh(0 3px 100% 75% round 0% 0);
  }

  .mask {
    mask-image: linear-gradient(hsla(0, 0%, 0%, 1), transparent);
  }

  .form-div {
    @apply mt-8 w-full max-w-sm;
  }

  .nav-separator {
    @apply absolute left-0 h-1 w-screen;
    background: linear-gradient(
      100deg,
      rgba(110, 148, 240, 1) 2%,
      rgba(118, 189, 242, 1) 10%,
      rgba(206, 244, 117, 1) 32%,
      rgba(243, 244, 189, 1) 49%,
      rgba(243, 244, 189, 1) 52%,
      rgba(246, 172, 84, 1) 79%,
      rgba(242, 103, 64, 1) 100%
    );
  }
}

@layer utilities {
  .loading-indicator {
    animation: rotateAnimation 4s linear infinite; /* Adjust duration and animation timing as needed */
  }

  @keyframes rotateAnimation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
