---
import "../index.css";

import Layout from "../layouts/Layout.astro";
import ThemeDetectorScript from "src/components/ThemeDetector.astro";
import Card from "src/components/Card.astro";
import AxisLogo from "src/components/AxisLogo.astro";
import ThemeToggle from "src/components/ThemeToggle.astro";
import AxisWordmark from "src/components/AxisWordmark.astro";

const title = "Axis Finance";
const description =
  "Axis is building DeFi’s future with auction-based primitives";
---

<Layout title={title} description={description}>
  <main
    class="h-screen min-h-screen overflow-hidden flex flex-col justify-between items-end font-aeonfono"
  >
    <div
      id="header"
      class="max-w-screen h-14 px-4 w-full items-center justify-end lg:translate-x-40 transition-all duration-700 lg:flex hidden"
    >
      <ThemeToggle />
    </div>
    <div id="main-container" class="flex flex-col w-full h-full items-center">
      <div
        id="logo-container"
        class="w-full h-full flex lg:translate-y-0 justify-center items-center transition-all duration-700"
      >
        <div
          class="flex flex-col justify-center h-full wordmark-glow transition-all duration-300"
        >
          <AxisWordmark />

          <AxisLogo
            className="cursor-pointer p-8 relative bottom-28 opacity-0 transition-all duration-700"
            src="/logo.svg"
          />
        </div>
      </div>
      <div
        id="card-container"
        class="absolute lg:w-[58vw] translate-y-[80vh] py-6 lg:translate-y-0 lg:translate-x-[57.7vw] lg:pt-8 lg:pb-6 px-2 lg:px-0 lg:pr-4 top-32 lg:top-10 md:right-1 transition-all duration-700"
      >
        <Card />
        <div
          id="footer"
          class="max-w-screen lg:h-14 mt-4 lg:px-4 w-full flex items-end lg:items-end justify-end lg:translate-x-40 transition-all duration-700"
        >
          <div
            class="flex justify-center lg:justify-end w-full gap-x-6 text-sm uppercase bg-secondary-foreground/5 text-secondary-foreground rounded-md lg:bg-inherit"
          >
            <a target="_blank" href="https://x.com/bond_protocol"
              ><p class="wordmark-glow">social</p></a
            >
            <a target="_blank" href="mailto:launch@axis.finance"
              ><p class="wordmark-glow">contact</p></a
            >
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>

<ThemeDetectorScript />
<script>
  const logo = document.getElementById("logo-container");
  const card = document.getElementById("card-container");
  const header = document.getElementById("header");
  const footer = document.getElementById("footer");
  const wordmark = document.getElementById("axis-wordmark");
  const logoEle = document.getElementById("axis-logo");

  const cardClass = ["translate-y-[80vh]", "lg:translate-x-[57.7vw]"];
  const logoClass = ["-translate-y-[40vh]", "lg:-translate-x-[47vw]"];
  const navClass = "lg:translate-x-40";
  const imageClass = "opacity-0";
  let show = false;

  logo?.addEventListener("click", () => {
    show = !show;
    if (show) {
      [header, footer].map((e) => e?.classList.remove(navClass));
      card?.classList.remove(...cardClass);
      logo?.classList.add(...logoClass);
      logoEle?.classList.remove(imageClass);
      wordmark?.classList.add(imageClass);
    } else {
      [header, footer].map((e) => e?.classList.add(navClass));
      card?.classList.add(...cardClass);
      logo?.classList.remove(...logoClass);
      logoEle?.classList.add(imageClass);
      wordmark?.classList.remove(imageClass);
    }
  });
</script>
